/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 288 80% 98%;
    --foreground: 228 21% 17%;
    --card: 288 80% 98%;
    --card-foreground: 228 21% 17%;
    --popover: 288 80% 98%;
    --popover-foreground: 228 21% 17%;
    --primary: 330 100% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 269 66% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 48%;
    --accent: 201 73% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 100%;

    --border: 269 66% 48%;
    --input: 228 21% 17%;
    --ring: 269 66% 48%;
    --radius: 0.5rem
  }

  .dark {
    --background: 227 18% 15%;
    --foreground: 0 0% 100%;
    --card: 227 18% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 227 18% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 330 100% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 271 72% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 228 21% 17%;
    --muted-foreground: 0 0% 48%;
    --accent: 201 73% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 70.2% 41.3%;
    --success-foreground: 0 0% 100%;
    --border: 271 72% 31%;
    --input: 228 21% 17%;
    --ring: 330 100% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    /* ✨ ALTERADO: Adicionado um gradiente sutil ao fundo */
    @apply bg-background text-foreground;
    background-image: linear-gradient(to top right, hsl(var(--background)), hsl(var(--muted)/0.5));
    font-family: 'Inter', sans-serif;
  }
}

/* Estilo usado pelo tutorial para destacar elementos */
.tutorial-highlight {
  @apply ring-4 ring-primary rounded-xl relative z-50 pointer-events-none;
}

/* --- ESTILIZAÇÃO DA BARRA DE SCROLL --- */
/* Para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Fundo da barra de rolagem (a "pista") */
::-webkit-scrollbar-track {
  background: hsl(var(--muted) / 0.5);
  border-radius: 10px;
}

/* A parte que se move ("polegar") */
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--secondary) / 0.4);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Efeito ao passar o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--secondary) / 0.6);
}